.section {
  background-color: red;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 6rem 3rem;
}

.container h2 {
  padding-bottom: 3rem;
  text-align: center;
}

.container h1 {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 4.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 6rem auto;
}

.grid_card {
  padding: 2rem 4rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.grid_card span {
  display: inline-block;
  transition: transform 200ms;
}

.grid_card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.grid_card p {
  margin: 0;
}

.grid_card p:last-child {
  margin-bottom: 3.2rem;
}

.grid_card .last_para {
  margin-bottom: 3.2rem;
}

.grid_card i {
  font-size: 4.2rem;
  color: #e50914;
}

/*for the main contact two section*/

.contact_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

.spans {
  color: #e50914;
}

.grid_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  gap: 4.8rem;
}

.contact_contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact_image img {
  max-width: 100%;
  height: auto;
}

.contact_form {
  max-width: 60rem;
  min-width: 25rem;
  padding: 3.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: left;
}

.input_field {
  margin-bottom: 2rem;
}

.label {
  font-size: 1.5rem;
  display: block;
  text-transform: capitalize;
}

.contact_form input,
.contact_form textarea {
  display: block;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.success_msg {
  color: #a8e48a;
}

.error_msg {
  color: red;
}

.mapping {
  width: 100%;
}

@media screen and (max-width: 999px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 6rem auto;
  }
}

@media screen and (max-width: 780px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    margin: 6rem auto;
  }
}

@media screen and (max-width: 780px) {
  .container h2 {
    font-size: 2.8rem;
    text-align: center;
  }

  .grid_section {
    grid-template-columns: 1fr;
  }

  .contact_contant {
    align-items: center;
    /* order: 1; */
  }

  .contact_form {
    min-width: 100%;
  }

  .contact_image {
    justify-content: center;
    /* order: 0; */
  }

  .contact_image img {
    width: 75%;
  }
}
